<html><h1> Hello Welcome to the {{ ansible_facts['hostname'] }} </h1></html>
<html><h1> Machine ip add is {{ ansible_facts.default_ipv4.address }} </h1></html>
<html><h1> machine domain name is {{ ansible_fqdn }} </h1></html>
