<html><h1> Welcome to the World of ansible on Machine {{ ansible_facts['hostname'] }} </h1></html>
<html><h2> Machine ip add is {{ ansible_facts.default_ipv4.address }} </h2></html>
<html><h2> Machine bios version is {{ ansible_bios_version }} </h2></html>
